*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.container{
    width: 100%;
    max-width: 400px;
    margin: auto;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 3px  rgb(0, 0, 0);
    background-color: white;
    backdrop-filter: blur(10px);
}

.container button{
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 100px;
    cursor: pointer;
    background-color:#08A8A5;
    border-radius: 5px;
    border: 1px black;
    box-shadow: 0px 0px 3px  rgb(0, 0, 0);
    outline: none;
    color: #002726;
    transition: all 500ms;
}

.container button:hover{
    background-color: #70f5f3;
    color: #002726;
}

form{
    width: 80%; 
    margin:0 auto;
    text-align:center;  
}

.textbox{
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    outline: none;
}


.logo{
    text-decoration: none;
    width: 100%;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    transition: all 500ms;
}

.logo:hover{
    color: #08A8A5;
}

header{
    height: auto;
    padding: 30px 160px;
    width: 100%;
    max-width: 500px;
    margin: auto;
    position: relative;
}
